* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.203);
  color: white;
  padding: 10px 20px;
  height: 100px;
}
.navbar__logo-img {
  width: 75px;
  height: 75px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  border-radius: 2px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-menu-text {
  transition: color 0.7s ease;
}

.navbar-menu-text:hover {
  color: #000000;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 450px) {
  .navbar-toggle {
    display: flex;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(175, 175, 175);
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease background-color 0.3s ease;
  }
  .navbar-menu.active {
    display: flex;
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }
  .navbar-menu li {
    margin: 0;
    padding: 15px 20px;
    text-align: center;
  }
}
.contacts {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.modal.show .modal-content {
  top: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #555555;
  outline: none;
}

button {
  padding: 10px;
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #484848;
}

.main {
  height: 725px;
  background-color: rgba(0, 0, 0, 0.4);
}
.main__container-box-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main__container-box-1-title {
  color: #fff;
  font-size: 50px;
}
.main__container-box-1-subtitle {
  color: #fff;
  font-size: 40px;
}
.main__container-box-1-social {
  color: #777;
  transition: color 0.5s linear;
}
.main__container-box-1-social:hover {
  color: #000000;
}

.footer {
  width: 100%;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.203);
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container-connection {
  font-size: 20px;
  color: #fff;
  padding-top: 15px;
  transition: color 1s linear;
}
.footer__container-connection:hover {
  color: #000000;
}
.footer__container-text {
  color: #fff;
  padding-top: 20px;
}
.footer__container-paragraph {
  color: #fff;
  padding-top: 20px;
}
.footer__container-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}
.footer__container-btn {
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease;
}
.footer__container-btn:hover {
  transform: translateY(-10px);
}

@media (max-width: 401px) {
  .footer {
    height: auto;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.274);
  }
  .footer__container {
    text-align: center;
  }
  .footer__container-connection {
    font-size: 16px;
    padding-top: 10px;
    color: #ffffff;
  }
  .footer__container-text,
  .footer__container-paragraph {
    font-size: 14px;
    padding-top: 10px;
    color: #fff;
  }
  .footer__container-icons {
    padding-top: 15px;
    gap: 5px;
  }
  .footer__container-btn {
    height: 40px;
    width: 40px;
    color: #fff;
  }
}/*# sourceMappingURL=contacts.css.map */