* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.203);
    color: white;
    padding: 10px 20px;
    height: 80px;

    &__logo {
        &-img {
            width: 75px;
            height: 75px;
        }
    }
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .bar {
        height: 3px;
        width: 25px;
        background-color: white;
        margin: 4px 0;
        border-radius: 2px;
    }
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &-text {
        transition: color 0.7s ease;

        &:hover {
            color: #000000;
        }
    }

    li {
        margin-left: 20px;

        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
    }
}

@media (max-width: 450px) {
    .navbar-toggle {
        display: flex;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(175, 175, 175);
        position: absolute;
        top: 100px;
        right: 0;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;

        &.active {
            display: flex;
            z-index: 1;
            opacity: 1;
            transform: translateX(0);
        }

        li {
            margin: 0;
            padding: 15px 20px;
            text-align: center;
        }
    }
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
   min-height:80vh;

    .image-map-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        .card-image {
            width: 48%;
            border-radius: 10px;
            object-fit: cover;
            height: 300px;
        }

        .map {
            width: 400px;
            height: 300px;
            border-radius: 15px;
            background-color: #000000;
        }
    }

    h2 {
        font-size: 28px;
        margin: 20px 0 10px;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: center;
        margin: 10px 0 20px;
    }

    .back-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        background-color: #848484;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: #5a5a5a;
        }
    }
}
.map{
    border-radius: 5px;
}

@media (max-width: 401px) {
    .card {
        padding: 10px;

        .image-map-container {
            flex-direction: column;

            .card-image, .map {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
        }

        h2 {
            font-size: 24px;
            margin: 10px 0;
        }

        p {
            font-size: 14px;
            margin: 10px 0;
        }

        .back-button {
            font-size: 14px;
            padding: 8px 16px;
        }
    }
}

.footer {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.203);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-connection {
            font-size: 20px;
            color: #fff;
            padding-top: 15px;
            transition: color 1s linear;

            &:hover {
                color: #000000;
            }
        }

        &-text, &-paragraph {
            color: #fff;
            padding-top: 20px;
        }

        &-icons {
            display: flex;
            justify-content: center;
            gap: 10px;
            padding-top: 10px;
        }

        &-btn {
            height: 50px;
            width: 50px;
            transition: transform 0.5s ease;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

@media (max-width: 401px) {
    .footer {
        background-color: rgba(0, 0, 0, 0.274);

        &__container {
            text-align: center;

            &-connection {
                font-size: 16px;
                padding-top: 10px;
                color: #ffffff;
            }

            &-text, &-paragraph {
                font-size: 14px;
                padding-top: 10px;
                color: #fff;
            }

            &-icons {
                padding-top: 15px;
                gap: 10px;
            }

            &-btn {
                height: 40px;
                width: 40px;
                color: #fff;
            }
        }
    }
}
