* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.203);
  color: white;
  padding: 10px 20px;
  height: 80px;

  &__logo {
    &-img {
      width: 75px;
      height: 75px;
    }
  }
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;

  .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
  }
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &-text {
    transition: color 0.7s ease;

    &:hover {
      color: #000000;
    }
  }

  li {
    margin-left: 20px;

    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }
}

@media (max-width: 450px) {
  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(175, 175, 175);
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease,
      background-color 0.3s ease;

    &.active {
      display: flex;
      z-index: 1;
      opacity: 1;
      transform: translateX(0);
    }

    li {
      margin: 0;
      padding: 15px 20px;
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  min-height: 80vh;
  justify-content: center;

  .image-map-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    .card-image {
      width: 48%;
      border-radius: 10px;
      object-fit: cover;
      height: 300px;
    }

    .map {
      width: 450px;
      height: 950px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  h2 {
    font-size: 28px;
    margin: 20px 0 10px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 20px;
  }

  .back-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #848484;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 30px;

    &:hover {
      background-color: #5a5a5a;
    }
  }
}
.map {
  border-radius: 5px;
}

@media (max-width: 401px) {
  .card {
    padding: 10px;

    .image-map-container {
      flex-direction: column;

      .card-image,
      .map {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }

    h2 {
      font-size: 24px;
      margin: 10px 0;
    }

    p {
      font-size: 14px;
      margin: 10px 0;
    }

    .back-button {
      margin-bottom: 30px;
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.203);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-connection {
      font-size: 20px;
      color: #fff;
      padding-top: 15px;
      transition: color 1s linear;

      &:hover {
        color: #000000;
      }
    }

    &-text,
    &-paragraph {
      color: #fff;
      padding-top: 20px;
    }

    &-icons {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding-top: 10px;
    }

    &-btn {
      height: 50px;
      width: 50px;
      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

@media (max-width: 401px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.274);

    &__container {
      text-align: center;

      &-connection {
        font-size: 16px;
        padding-top: 10px;
        color: #ffffff;
      }

      &-text,
      &-paragraph {
        font-size: 14px;
        padding-top: 10px;
        color: #fff;
      }

      &-icons {
        padding-top: 15px;
        gap: 10px;
      }

      &-btn {
        height: 40px;
        width: 40px;
        color: #fff;
      }
    }
  }
}

.blur-background {
  filter: blur(5px);
  transition: filter 0.5s ease;
}

#fullscreen-gallery {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#fullscreen-gallery.active {
  display: flex;
  opacity: 1;
}

#fullscreen-gallery img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}

#fullscreen-gallery button {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#close-gallery {
  top: 10px;
  right: 20px;
}

#prev-image {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#next-image {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-image {
  max-width: 495px;
  height: 450px;
  border-radius: 5px;
}
.gallery-image:last-of-type {
  height: 500px;
  width: 495px;
}

#reviews-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews-container .review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#reviews-container .review .review-name {
  width: 300px;
  font-weight: bold;
}

#reviews-container .review .review-text {
  margin-top: 5px;
}

#reviews-container .review .delete-review {
  float: right;
  cursor: pointer;
}

#review-form {
  margin-top: 20px;
}

#review-form input,
#review-form textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#review-form button {
  padding: 10px 20px;
  background-color: #777777;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

#review-form button:hover {
  background-color: #5c5c5c;
}
