* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.203);
  color: white;
  padding: 10px 20px;
  height: 80px;
}
.navbar__logo-img {
  width: 75px;
  height: 75px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  border-radius: 2px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-menu-text {
  transition: color 0.7s ease;
}

.navbar-menu-text:hover {
  color: #000000;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 450px) {
  .navbar-toggle {
    display: flex;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(175, 175, 175);
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease background-color 0.3s ease;
  }
  .navbar-menu.active {
    display: flex;
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }
  .navbar-menu li {
    margin: 0;
    padding: 15px 20px;
    text-align: center;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
  height: 1000px;
}

.card h2 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-top: 20px;
}

.card p {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 15px;
}

.card img {
  width: 500px;
  border-radius: 5px;
  height: 350px;
}

.card a {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.203);
  color: #000000;
  transition: background-color, color, 0.3s;
}

.card a:hover {
  background-color: #000000;
  color: #fff;
}

@media (max-width: 401px) {
  .card img {
    width: 395px;
    border-radius: 0;
  }
  .card p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.myCart {
  display: block;
  height: 250px;
  width: 250px;
  background-color: #000000;
}

.map {
  background-color: #000000;
}

.cart {
  margin-bottom: 40px;
}
.cart__container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__container-cart {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 7px;
  width: 750px;
  padding: 5px 5px 5px 5px;
}
.cart__container-cart2 {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 7px;
  width: 750px;
  padding: 5px 5px 5px 5px;
  display: none;
}
.cart__container-title {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 50px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.203);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container-connection {
  font-size: 20px;
  color: #fff;
  padding-top: 15px;
  transition: color 1s linear;
}

.footer__container-connection:hover {
  color: #000000;
}

.footer__container-text {
  color: #fff;
  padding-top: 20px;
}

.footer__container-paragraph {
  color: #fff;
  padding-top: 20px;
}

.footer__container-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.footer__container-btn {
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease;
}

.footer__container-btn:hover {
  transform: translateY(-10px);
}

@media (max-width: 401px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.274);
  }
  .footer__container {
    text-align: center;
  }
  .footer__container-connection {
    font-size: 16px;
    padding-top: 10px;
    color: #ffffff;
  }
  .footer__container-text,
  .footer__container-paragraph {
    font-size: 14px;
    padding-top: 10px;
    color: #fff;
  }
  .footer__container-icons {
    padding-top: 15px;
    gap: 10px;
  }
  .footer__container-btn {
    height: 40px;
    width: 40px;
    color: #fff;
  }
}/*# sourceMappingURL=info.css.map */